<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>All products</title>
</head>

<body>
    <h1>Shopping Cart</h1>
    <form action="/home" method="get">
        <button>Return To Home</button>
    </form>
    <form action="/checkout" method="post">
        <input type="submit" value="Checkout" /><br><br>
        <hr>

    </form>

    <br>
    <% for (let product of products) { %>



        <div class="square">
            <img src="<%= product.productURL %> " alt="<% product.name %> ">
            <div class="content">
                <div class="product-name">
                    <b>
                        <%= product.name %> (Proudct ID: <%= product.productID %> )
                    </b>
                    <div>


                    </div>
                    <div class="product-price">
                        $<%= product.price %>.00
                    </div>
                </div>
                <div class="description">
                    <%= product.description %>
                </div>

                <div>
                    <% if (product.quantity> 0) { %>

                        <form action="/shoppingCart" method="POST">
                            <input type="hidden" id="productID" name="productID" value="<%= product.productID%>">
                            <input type="submit" value="Remove 1">
                        </form>

                        </p>
                        <%} %>


                </div>



            </div>
        </div>

        <% } %>


</body>

</html>