<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>

  <body>
    <form action="/home" method="get">
      <button>Return To Home</button>
    </form>

    <hr />

    <% for (let order of orders) { %>
    <div>
      Order ID: <%= order._id %>
      <br />
      Date: <%= order.date %>
      <br />
      <% for( let index=0; index < order.products.length; index++ ) { %>
      <br />

      Product Name: <%= order.products[index].name %>
      <br />
      Unit Price: $<%= order.products[index].price %>.00
      <br />
      Quantity: <%= order.products[index].quantity %>
      <br />
      Total: $<%= order.products[index].quantity * order.products[index].price
      %>.00
      <br />

<% if (order.products[index].review > 0) { %>
    Review: <%= order.products[index].review %>/5
<% } else { %>

      <label for="reviews">Leave a Review</label>
      <form id="reviews" action="/orders" method="post">
        <input type="hidden" id="orderID" name="orderID" value="<%= order._id%>">
        <input type="hidden" id="productID" name="productID" value="<%= order.products[index].productID%>">
        <select class="reviews" data-style="btn-info" name="reviews">
          <option name="1" value="1">1</option>
          <option name="2" value="2">2</option>
          <option name="3" value="3">3</option>
          <option name="4" value="4">4</option>
          <option name="5" value="5">5</option>
        </select>
        <input type="submit" />
      </form>

<% } %> 

      <br />
      <% } %>
      <hr />
    </div>
    <% } %>
  </body>
</html>
